*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    display: flex;
    justify-content: center;
    transform: translateY(20px);
    color:white;
    font-size: 1.2rem;
}

body{
    background: #146268;
    font-family: sans-serif, "Poppins";

}
.content{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, "Poppins";
    flex-direction: column;

}

.calc-container{
    width:220px;
    height: 380px;
    border-radius: 35px;
    display: grid;
    background: rgb(12, 12, 12);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px;
    align-items: center;
    color: rgb(230, 223, 223);    
}

button:focus{
    outline-style: none;
}

.btn button{
    border:none;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    font-size: 0.6rem;
    font-family: sans-serif;
    color: rgb(230, 223, 223);    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.display-container{
    background: rgb(12, 12, 12);
    border-radius: 10px;
    grid-column: 1/5;
    height: 70px;
    margin-bottom: 10px;
}

.display{
    display: flex;
}

.num{
    flex: 1;
}

.operator{
    margin-top: 10px;
    margin-right: 10px;
}

.display h1{
    margin: 6px;
}

.answer{
    margin-left: 7px;
    font-size: 1.1rem;
}

.action button{
    background: rgb(145, 3, 3);

}

.number button{
    background: rgb(194, 133, 41);
}

button:hover{
    cursor: pointer;
}

.action button:hover{
    background: rgb(104, 1, 1);
}

.action button:active{
    background: white;
    color: rgb(145, 3, 3);
}

.number button:hover{
    background: rgb(134, 92, 28);
}

.number button:active{
    background: white;
    color:  rgb(194, 133, 41);
}

h2{
    pointer-events: none;
}

.credit{
    display: flex;
    justify-content: center;
    transform: translateY(50px);
    color: rgb(136, 132, 132);
    background:white;
    height: 92px;
    align-items: center;
}

canvas{
    position: absolute;
    z-index: -1;
}

.on button{
    background: rgb(10, 110, 10);
}

.on button:hover{
    background: rgb(6, 70, 6);
}

.on button:active{
    background: white;
    color: rgb(10, 110, 10);
}

.off button{
    background: rgb(145, 3, 3);

}

.off button:hover{
    background: rgb(104, 1, 1);
}

.off button:active{
    background: white;
    color: rgb(145, 3, 3);
}

.canvas-on{
    display: flex;
}

.canvas-off{
    display: none;
}